.movie_poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}

.movie_poster:hover {
  opacity: 0;
}

.movie_container {
  position: relative;
  height: 360px;
  overflow: auto;
}

.container ::-webkit-scrollbar {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Colore di sfondo */
  border-top: 16px solid #3498db; /* Colore del bordo superiore (per il movimento) */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_container {
  height: 90vh;
}
